body {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    color: #666;
    margin: 0;
    padding: 0;

    background: rgba(238,238,254,1);
    background: -moz-linear-gradient(45deg, rgba(238,238,254,1) 0%, rgba(239,239,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(238,238,254,1)), color-stop(100%, rgba(239,239,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(238,238,254,1) 0%, rgba(239,239,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(238,238,254,1) 0%, rgba(239,239,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(238,238,254,1) 0%, rgba(239,239,255,1) 100%);
    background: linear-gradient(45deg, rgba(238,238,254,1) 0%, rgba(239,239,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeefe', endColorstr='#efefff', GradientType=1 );
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #ccccd5;
    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        color: #4d4c74;
        margin: 0;
        padding: 1em 3em;
        li {
            flex-grow: 1;
            display: flex;
            align-items: center;
            &.logo {
                flex-grow: 6;
                justify-content: center;
            }
        }
    }
}

.material-icons + span {
    margin-left: 0.5em;
}

.logo {
    img {
        height: 1.8em;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .profile {
        flex-basis: 30%;
        background-color: #f6f6ff;
        .profile_cover {
            padding: 10em 2em 1em 2em;
            background-image: url('../img/taylor.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: flex;
        }
    }
    .timeline {
        flex-basis: 50%;
    }
    .favorite {
        flex-basis: 20%;
    }
}

.profile_avatar {
    height: 6em;
    flex-basis: 6em;
    background-image: url('../img/avatar.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
}

.profile_name {
    flex-basis: 75%;
}

.accordion {
    margin: 0;
    width: 100%;
    background: #f4f4f4;
}
.accordion__title {
    margin: 0;
    padding: 1rem 1.5rem;
    background: #4d4c74;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
}
.accordion__title:hover {
    background: #484b77;
}
.accordion__copy {
    display: none;
    padding: 1rem 1.5rem 2rem 1.5rem;
    color: gray;
    line-height: 1.6;
    font-weight: 500;
}
.accordion__copy--open {
    display: block;
}
